@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background: #6c63fe;
}

.text-primary {
  color: #6c63fe;
}

.home-banner {
  background-image: url(../src/assets/bg.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
